# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.egg
*.egg-info/

# Data files (optional)
data/*.csv

# Virtual environment
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db